<!DOCTYPE html>
<html lang="en">
<head>
<title>Weather</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
<script type="text/javascript">
	$(document).ready(function() {
        reloadWeather();
        $("#reload-weather").on('click', function() {
            reloadWeather();
        });
	});

    function reloadWeather() {
        var $locations = new Array("stockholm", "karlskoga");

        $($locations).each(function(i, location) {
            reloadLocationWeather(location)
        });
    }

    function reloadLocationWeather(location) {
        var $container = $("#" + location);
        $container.hide();
        $.get('/fetchWeather/' + location, function(data) {
            $container.html($("<h2>" + data.weatherConditions.location + "</h2>"))
            var $table = $("<table>").addClass("table")
            $table.append($("<tr><th>Tid</th><th>Temperatur</th></tr>"))
            $(data.weatherConditions.conditions[0]).each(function(i, cond) {
                $table.append($("<tr><td>" + cond.time + "</td><td>" + cond.temperature + "</td></tr>"))
            });
            $container.append($table)
            $container.show();
        });
    }

</script>
</head>
<body>
	<div class="container" id="weather">
        <div class="span10">
            <H1>Väder</H1>
            <a href="#" class="btn" id="reload-weather">Ladda om</a>
        </div>
		<div class="span5" id="stockholm"></div>
		<div class="span5" id="karlskoga"></div>
	</div>
</body>
</html>