<!DOCTYPE html>
<html lang="en">
<head>
<title>Calculator</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#calculateform").submit(function(event) {
			event.preventDefault();
			var expr = $("input:first").val();
			$.get('/calculateAjax', {
				expression : expr
			}, function(data) {
				$("#result").removeClass('text-error').addClass('text-success')
				$("#result").html(expr + " = " + data)
			}).error(function(data) {
				$("#result").removeClass('text-success').addClass('text-error')
				$("#result").html(expr + " is not a valid expression: " + data.responseText)
			});
		});
	});
</script>
</head>
<body>
	<div class="container">
		<H1>Calculator</H1>
		<form id="calculateform">
			<input id="expr" name="expression" type="text" value="" /> 
			<input type="submit" value="Calculate" />
		</form>
		<p class="lead" id="result" ></p>
	</div>
</body>
</html>